*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green-color);
    
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
body{
    font-family: "Open Sans" , sans-serif;
    
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    height: fit-content;
}



/* start  cards */
.maincontent .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    gap: 20px;
    width: 100%;
}
.maincontent .cards .card{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    min-width: 200px;
    overflow: hidden;
    box-shadow: 0 0 5px 4px var(--grey-color);
}
.maincontent .cards .card:hover{
    cursor: pointer;
    transform: scale(1.01 ,1.01);

}
.maincontent .cards .card .img {
    width: 100%;
    position: relative;
    height: fit-content;
}

.maincontent .cards .card .img img:first-child{
    width:100%;
    height: auto;
}

.maincontent .cards .card .img img:last-child{
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    width: 60px;
    border: 3px solid white;
}

.maincontent .cards .card:hover .img img:last-child{
    border-color:var(--green-color) ;
}



.maincontent .cards .card .contentcard{
    padding: 0px 20px 20px 20px;
}

.maincontent .cards .card .contentcard h2{
    font-size: 17px;
   margin-top: 0;
}
.maincontent .cards .card .contentcard .txt{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.781);
    padding: 10px 0px 40px 0 ;
    border-bottom: 1px solid #eee;
}


.maincontent .cards .card .contentcard .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.maincontent .cards .card .contentcard .footer .left{
    display: flex;
    width: 50px;
    justify-content: space-between;
    color: #888;
}
.maincontent .cards .card .contentcard .footer .right{
    color: #888;
}
.maincontent .cards .card .contentcard .footer a{
    position: absolute;
    top: -13px;
    left: 50%; 
    transform: translate(-50%);
    background-color: var(--blue-color);
    padding: 3px 7px;
    border-radius: 6px;
    color: white;
}
.maincontent .cards .card .contentcard .footer a:hover{
    background-color: var(--blue-alt-color);
}

@media (max-width: 500px) {
    .maincontent .cards{
        display: block;
    }
    .maincontent .cards .card{
        min-width: 100%;
        max-width: 100%;
    }
    .maincontent .cards .card .contentcard .footer a {
        font-size: 11px;
        text-align: center;
    }
}


/* end  of  cards */