*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green-color);
    
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
body{
    font-family: "Open Sans" , sans-serif;
    
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    height: fit-content;
}



/* satrt side bar */
.sidebar{
    width: 250px ;
    box-shadow: 0 0 10px #ddd;
    
}

.sidebar >h3{
    margin-bottom: 50px;
    font-weight: 900;
}


.sidebar >h3::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 80px;
    height: 3px;
    bottom: -20px;
    transform: translateX(-50%);
    left: 50%;
}
.sidebar >h3::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -28px;
    transform: translateX(-50%);
    left: 50%;
}

.sidebar ul li a{
    transition: 0.3s;
    color: black;
} 

.sidebar ul li a:hover ,.sidebar ul li a:active{
    background-color: var(--blue-alt-color);
    color: white;
    transform: scale(1.05 ,1.05);
    box-shadow: 0 0 15px var(--blue-color);
}
.sidebar ul li a span{
    margin-left: 10px;
}

@media (max-width: 767px){
    .sidebar{
        width: 70px;
        padding: 10px;
    } 
    .sidebar >h3{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .sidebar >h3::after,.sidebar >h3::before{
        display: none;
    }
    .sidebar ul li a {
        justify-content: center;
    }
    .sidebar ul li a span{
        display: none;
    }




}

.sidebar .active{
    background-color: var(--green-color);
    color: white;
    transform: scale(1.05 ,1.05);
}




/* start navbar */
.content{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content .navbar{
    width: 100%;

}
.content .navbar .search{
    position: relative;
}

.content .search button{
    border: none;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 11px;
    font-size: 10px;
    color: #7e7d7d97;
}


.content .search input{
    border-radius: 6px;
    border: 2px solid var(--grey-color);
    padding: 8px 5px 8px 35px;
    width: 150px;
    transition: .3s;
    font-size: 11px;

}

.content .search input:focus ,.content .search input:hover{
    width: 200px;
    border-color: var(--green-color);
    box-shadow: 0 0 15px var(--green-color);
}

.content .navbar .pfndnot{
width: 60px;
position: relative;
}

.content .navbar .pfndnot img{
    width: 30px;
    border: var(--green-color) solid 3px;
    border-radius: 50%;
}
.content .navbar .pfndnot img:hover{
    border: var(--blue-color) dashed 6px;
    box-shadow: 0 0 10px var(--blue-color);
}
.content .navbar .pfndnot i{
    font-size: 18px;
}
.content .pfndnot .activepoint{
    background-color: #f44336;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    top: 0px;
}



/* END  SIDEBAR */



/* START DASHBOARD */


.main >h1{
    padding-bottom: 5px;
    font-size: 26px;
}
.main >hr{
    width: 100px;
    height: 3px;
    border: none;
    background-color: black;
    position: relative;
}
.main >hr::before{
    content: '';
    background-color: white;
    position: absolute;
    height: 3px;
    width: 60%;
    left: 40%;
}



.maincontent{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    gap: 20px 20px;
    margin-top: 20px;
   
}


.maincontent .globalcard{
    min-width: 400px;
    transition: .3s;
    border-radius: 6px;box-shadow: 0 0 10px 3px var(--grey-color) ;
}



    

.maincontent .globalcard:hover{
   cursor: pointer;
    transform: scale(1.01 ,1.01);
}

.maincontent .globalcard >h1{
    font-size: 25px;
    font-weight: 700;

}
.maincontent .globalcard >p{
    color: var(--grey-color);
    padding: 10px 0 50px 0;
    font-size: 16px;
}

@media (max-width:319px){
 
    .maincontent{
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    }
    .page  section.main{
        padding: 10px;
    }
    .maincontent .globalcard{
        min-width: 100px;
    }
}

@media (max-width:500px) and (min-width:320px){
    .maincontent{
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    }
    
    .maincontent .globalcard{
        min-width: 200px;
    }

}


/* start card 1  */
.maincontent .card-1{
    background-color: rgba(241, 241, 241, 0.84);
}
.maincontent .card-1 img{
    width: 65px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    top: -32.5px;
    left: 30px;

}
.maincontent .card-1 .cardcontent{
    background-color: rgb(255, 255, 255);
    padding: 20px 0 0 0;
   
}
.maincontent .card-1 .cardcontent .boxes{
    margin: 30px 0px 15px 0 ;
    width: 100%;
    border-top:1px solid rgba(128, 128, 128, 0.256) ;
    border-bottom:1px solid rgba(128, 128, 128, 0.256) ;
    text-align: center;
    padding: 20px 80px ;
}
.maincontent .card-1 .cardcontent h2{
    font-size:13px;
}
.maincontent .card-1 .cardcontent p{
    color: var(--grey-color);
    font-size: 12px;
}
.maincontent .card-1 .cardcontent .btnbox{
    justify-content: flex-end;
    padding: 0 20px 20px  0;
    width: 100%;

}


@media (max-width:500px) {
    .card-1{
        text-align: center;
    }
    .maincontent .card-1 .cardcontent .btnbox{
        justify-content: center;
        padding: 0 0 20px 0;
    }
    .maincontent .card-1 .cardcontent .boxes{
         flex-direction: column;
         padding: 0;
    }

    .maincontent .card-1 img{  
        top: -32.5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* end card1  */

/* start card2 */

.maincontent .card-2{
    background-color: rgb(255, 255, 255);
    
} 
.maincontent .card-2 input{
    display: block;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.84);
   border: none;
   border-radius: 6px;
   padding: 10px 20px;
    margin-bottom: 20px;
}


.maincontent .card-2 textarea{
    min-height: 150px;
    background-color: rgba(241, 241, 241, 0.84);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
}
.maincontent .card-2  .btnbox{
    width: 100%;
    justify-content: flex-end;
}

/* end  card2 */

/* start card3 */

.maincontent .card-3{
    background-color:  rgb(255, 255, 255);
}


.maincontent .card-3 .progres:not(:last-child){
    margin-bottom: 20px;
    
}

.maincontent .card-3 .icon{
    width: 80px;
    height: 80px;
    font-size: 20px;
}
.maincontent .card-3 .ic-1{
    background-color: #0d6ad52d;
    color: var(--blue-color);
}
.maincontent .card-3 .ic-2{
    background-color: #eea1122d;
    color: var(--orange-color);
}
.maincontent .card-3 .ic-3{
    background-color: #14ca1d2d; 
     color: var(--green-color);
}

.maincontent .card-3 .prcard{
    padding: 10px 15px;
    width: 100%
}

.maincontent .card-3 .lines{
    margin-top: 10px;
    width: 100%;
    height: 4px;
   
}
.maincontent .card-3 .line{
    transition: 1s; 
    position: relative;
}
.maincontent .card-3 .lines-1 .line{
    width: 1%;
    height: 4px;
    background-color: var(--blue-color);
}
.maincontent .card-3 .lines-2 .line{
    width: 1%;
    height: 4px;
    background-color: var(--orange-color);
}
.maincontent .card-3 .lines-3 .line{
    width: 1%;
    height: 4px;
    background-color: var(--green-color);
}

.maincontent .card-3:hover .lines-1 .line{
   width: 80%;
}
.maincontent .card-3:hover .lines-2 .line{
    width: 55%;
 }
 .maincontent .card-3:hover .lines-3 .line{
    width: 75%;
 }



 .maincontent .card-3:hover .lines-1 .line::before{
    padding: 5px;
    background-color: var(--blue-color);
    color: white;
    font-size: 13px;
    border-radius: 6px;
    content: '80%';
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    position: absolute;
    
 }
 .maincontent .card-3:hover .lines-2 .line::before{
    padding: 5px;
    background-color: var(--orange-color);
    color: white;
    font-size: 13px;
    border-radius: 6px;
    content: '55%';
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    position: absolute;
    
  }
  .maincontent .card-3:hover .lines-3 .line::before{
    padding: 5px;
    background-color: var(--green-color);
    color: white;
    font-size: 13px;
    border-radius: 6px;
    content: '75%';
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    position: absolute;
    
  }

  .maincontent .prcard p{
    color:  #888888ad;;
  } 

 



.maincontent .card-3 .lines-1{
    background-color: #0d6ad52d;
}
.maincontent .card-3 .lines-2{
    background-color:  #eea1122d;
}
.maincontent .card-3 .lines-3{
    background-color:  #14ca1d2d;
}





  /* end  of card 3 */
  


  
  /* start cadr 4*/
    .maincontent .card-4{
        background-color:  rgb(255, 255, 255);
    }
    
    .maincontent .card-4 .cards{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .maincontent .card-4 .cards .card{
        max-width: 47%;
        min-width: 47%;
        padding: 20px 20px;
        text-align: center;
        border: 1px solid #8888884b;
        border-radius: 6px;
        text-align: center;
    }
    @media (max-width:349px){
        .maincontent .card-4 .cards .card{
            min-width: 100%;
        }
        .maincontent .card-4 .cards .card h2{
            font-size: 15px;
        }
    }
    .maincontent .card-4 .cards .card i{
        font-size:30px;
        padding-bottom: 10px;
        transition: 1s;
    }

    .maincontent .card-4:hover .cards .card i{
        transform: rotateY(360deg) scale(1.5 ,1.5);
    }
    .maincontent .card-4 .cards .card:hover {
        box-shadow: 0 0 10px 0px var(--blue-color) ;
    }


    .maincontent .card-4 .cards .c-3 i{
        color: var(--green-color);
    }
    .maincontent .card-4 .cards .c-1 i{
        color: var(--orange-color);
    }
    .maincontent .card-4 .c-2  i{
        color: var(--blue-color);
    }
    .maincontent .card-4 .cards .c-4 i{
        color: var(--red-color);
    }

    .maincontent .card-4 .card p{
        color:  #888888ad;;
    }

    /* end of  card 4 */


    /* start  of card 5*/

    .maincontent .card-5{
        background-color: rgb(255, 255, 255);
    }

    .maincontent .card-5 .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .maincontent .card-5:hover .cards img {
        box-shadow: 0 0 1px 4px var(--green-color);
    }
    .maincontent .card-5 .cards .card{
        display: flex;padding: 20px 0 10px 0;
        align-items: center;
        position: relative;
    }
    .maincontent .card-5 .cards .card:hover img{
        box-shadow: 0 0 1px 4px var(--blue-color);
    }

    .maincontent .card-5 .cards .card:not(:last-child){
        border-bottom: 1px solid #dddddd94;
    }
    .maincontent .card-5 .cards .card img{
        width: 100px;
        border-radius: 6px;
        transition: 0.3s;
    }

    .maincontent .card-5 .cards .card .txt{
        padding: 10px;
    }
    .maincontent .card-5 .cards .card .txt h2{
        font-size: 17px;
    }
    .maincontent .card-5 .cards .card .txt p{
        color: #888888ad;
        font-size: 13px;
        padding-top: 5px;
    }
    .maincontent .card-5 .cards .card .duration{
        position: absolute;
        right: 0px;
    }

@media (max-width:563px){
    .maincontent .card-5 .cards .card{
        flex-direction: column;
        text-align: center;
    }
    .maincontent .card-5 .cards .card .duration{
        position: relative;
    }
}
    /* end of  card -5 */



    /* start  of  card  6 */
    .maincontent .card-6{
        background-color: rgb(255, 255, 255) ;

    }

    .maincontent .card-6 .tasks{
        width: 100%;
        padding-top: 10px;
       
    }

    .maincontent .card-6 .task{
        width: 100%;
        padding: 10px 0;
        position: relative;
    }
    .maincontent .card-6 .task:not(:last-child){
        border-bottom: 1px solid #8888881c;
    }
    .maincontent .card-6 .tasks .task i{
        position: absolute;
        transition: 0.3s;
        right:0;
        top: 50%;
        transform: translateY(-50%);
    }

    .maincontent .card-6 .tasks .task h3{
        font-size: 17px;font-weight: bold;
    }
    .maincontent .card-6 .tasks .task p{
        font-size: 16px;
        color: #888888ad;
    }

    .maincontent .card-6 .tasks .task:nth-child(3) h3{
        text-decoration-line: line-through;
        opacity: 0.5;
    }
    .maincontent .card-6 .tasks .task:nth-child(3) p{
        text-decoration-line: line-through;
        opacity: 0.5;
    }


    .maincontent .card-6:hover i{
        color: var(--green-color);
        transform: rotateY(360deg);
        font-size: 20px;
    }
    .maincontent .card-6 i:hover{
        color: var(--red-color);
    }

    
@media (max-width:563px){
    .maincontent .card-6 .task{
        
        text-align: center;
    }
    .maincontent .card-6 .tasks .task i{
        position: relative;
        margin-top: 15px;
    }
}