*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green-color);
    
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
body{
    font-family: "Open Sans" , sans-serif;
    
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    height: fit-content;
}



/* global  cards */

.maincontent {
    width: 100%;
    transition: .3s;
}

.maincontent .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
}

.maincontent .cards .card{
    min-width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 5px 4px var(--grey-color);
}

@media (max-width:522px) {
    .maincontent .cards {
        display: block;
    }
    .maincontent .cards .card{
        min-width: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .maincontent .cards .card .skills p{
        margin-top: 5px;
    }
}
.maincontent .cards .card:hover{
    cursor: pointer;
    transform: scale(1.01 ,1.01);

}

.maincontent .cards .card .avatars {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}

.maincontent .cards .card .avatars img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
    border: 3px solid white;
    transition: .3s;
}

.maincontent .cards .card .avatars img:nth-child(1){
    left: 0;
}
.maincontent .cards .card .avatars img:nth-child(2){
    left: 20px;
}
.maincontent .cards .card .avatars img:nth-child(3){
    left: 40px;
}
.maincontent .cards .card .avatars img:nth-child(4){
    left: 60px;
}
.maincontent .cards .card .avatars img:nth-child(5){
    left: 80px;
}

.maincontent .cards .card .avatars img:hover{
    transform: scale(1.1 ,1.1);
    z-index: 1;
    border-color: var(--green-color);
}

.maincontent .cards .card >h1{
    font-size: 17px;
    font-weight: 100;
}

.maincontent .cards .card >p{
    color: gray;
    font-size: 13px;
    padding: 10px 0 30px 0;
}




.maincontent .cards .card .skills{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.maincontent .cards .card .skills p{
    background-color: #eee;
    width: fit-content;
    padding: 5px;
    font-size: 13px;
    border-radius: 6px;
    margin-right: 5px;
}



.maincontent .cards .card .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.maincontent .cards .card .footer p{
    color: #acacac;
    font-size: 13px;
}
.maincontent .cards .card .footer .line{
    width: 40%;
    background-color: #eee;
    height: 8px;
    border-radius: 6px;
}
.maincontent .cards .card .footer .line .red{
    height: 8px;
    border-radius: 6px;
}

.maincontent .cards .card:nth-child(1) .footer .line .red{
    width: 50%;
    background-color: var(--red-color);
}
.maincontent .cards .card:nth-child(2) .footer .line .red{
    width: 80%; 
    background-color: var(--green-color);
}

.maincontent .cards .card:nth-child(3) .footer .line .red{
    width: 100%;
    background-color: var(--blue-color);
}
.maincontent .cards .card:nth-child(4) .footer .line .red{
    width: 60%;
    background-color: var(--green-color);
}
.maincontent .cards .card:nth-child(5) .footer .line .red{
    width: 70%;
    background-color: var(--green-color);
}
.maincontent .cards .card:nth-child(6) .footer .line .red{
    width: 40%;
    background-color: var(--red-color);
}
.maincontent .cards .card:nth-child(7) .footer .line .red{
    width: 65%;
    background-color: var(--green-color);
}
.maincontent .cards .card:nth-child(8) .footer .line .red{
    width: 70%;
    background-color: var(--green-color);
}
.maincontent .cards .card:nth-child(9) .footer .line .red{
    width: 90%;
    background-color: var(--green-color);
}




