*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green-color);
    
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
body{
    font-family: "Open Sans" , sans-serif;
    
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
ul{
    list-style: none;
    padding: 0;
    height: fit-content;
}







/* start  of the  site  control */
    .maincontent .site-control >p{
        padding-bottom: 20px;
    }

    .maincontent .site-control .top {
        margin-top: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .maincontent .site-control .top .left h3{
        font-size: 15px;
        padding-bottom: 6px;
    }
    .maincontent .site-control .top .left p{
        font-size: 12px; 
        padding-bottom: 20px;
        color: #888;
    }

    .maincontent .site-control .top .right {
        position: relative;
        height: 30px;
       
    }

    .maincontent .site-control .top .right input{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: 3;
    }
    
    .maincontent .site-control .top .right .button{
        width: 75px;
        height: 30px;
        background-color: #cac9c9;
        padding: 5px;
        border-radius: 19px;
        transition: .3s;
        position: relative;
    }

    .maincontent .site-control .top .right .button .yes{
        color: white;
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        
        top: 50%;
        transform: translateY(-50%);
        visibility: hidden;
        transition: 0.3s;
        left: 2px;
    }
    .maincontent .site-control .top .right .button .no{
        color: #cac9c9;
        border-radius: 55%;
        border: 2px solid white;
        position: absolute;
        background-color: white;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        font-size: 20px;
        transition-delay: 0s;
        transition: 0.3s;
    }
    .maincontent .site-control .top .right input:checked + .button{
        flex-direction: row-reverse;
        background-color: #0d69d5;
        box-shadow: 0 0 15px  var(--blue-color);
    }

    .maincontent .site-control .top .right input:checked + .button .no{
       z-index: -3;
       margin-left: 50px;
    }
    .maincontent .site-control .top .right input:checked + .button .yes{
        visibility: visible;
        margin-left: 50px;
    }

    

    .maincontent .site-control .bottom textarea{
        width: 100%;
        height: 150px;
        padding: 20px;
        border: 1px solid #88888828;
        border-radius: 6px;
    }


    @media (max-width: 468px){
        .maincontent .site-control .top {
            flex-direction: column;
            align-items:center ;
            padding-bottom: 20px;
        }
        
    }